/* Style for the navbar*/
body {
	background: linear-gradient(to right, #dbd6d1, #cbb29a);
	width: auto;
	height: 100vh; 
}

@media(max-width:700px){
.nav-grid-container{
    display: flex;
    flex-direction: column;
   justify-content:left;
    background-color: #5e5147;
    width: 95%;
    border-radius: 16px;
    padding-left: 5%;
    padding-bottom: 20px;
    color: white;
}

.nav-grid-name-title{
    
   font-family: Arial, Helvetica, sans-serif;
}

.nav-grid-contact-me > button{
    color:white;
    font-size: 23px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background: none;
    border: none;
    transition-duration: 0.4s;
}

.nav-grid-contact-me > button:hover {
    color: black;
}

.main-grid-container{
    background-color: #aca095;
    width: 90;
    border-radius: 16px;
    padding-left: 5%;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.technologies{
    background: linear-gradient(to right, #aca095, #dbd6d1);
    border-radius: 16px;
    text-align: left;
    padding-left: 5%;
    color:white;
    margin-bottom: 10%;
    margin-top: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.footer-container{
    text-align: center;
}

.footer-container-github{
    margin-right: 5%;
}




/* Style for the Email pop up*/
.email-pop-container{
    position: absolute;
    height: auto;
    left:15%;
    width: 70%;
    background-color:#dbd6d1;
    z-index: 1;
    border: 2px solid #5e5147; 
    border-radius: 16px;
    text-align: center;
    padding-bottom: 25px;
    
 }

 .email-pop-container > button{
     font-family: 'Times New Roman', Times, serif;
     font-size: 0.75em;
     padding-right: 3px;
     transition-duration: 0.4s;
 }

 .email-pop-container > button:hover{
    color:black;
 }
 
 .email-pop-contact-me{
     text-decoration: underline;
     color: #5e5147;
 }
 
 .email-pop-name{
     color: #5e5147;
     box-sizing: border-box;
     
 }
 
 .email-pop-name > input {
     resize: none;
     height:auto;
     width: 50%;
     box-sizing: border-box;
     border: 2px solid #aca095;
     background-color: #f8f8f8;
     padding-top: 4px;
     padding-bottom:4px;
     padding-left: 22px;
 }
 
 .email-pop-email{
     color: #5e5147;
     box-sizing: border-box;
 }
 
 .email-pop-email > input{
     resize: none;
     height:auto;
     width: 50%;
     box-sizing: border-box;
     border: 2px solid #aca095;
     border-radius: 2px solid #ccc;
     background-color: #f8f8f8;
     padding-top: 4px;
     padding-bottom: 4px;
     padding-left: 22px;
 }
 
 .email-pop-body{
     color:#5e5147;
 }
 
 .email-pop-body > textarea{
     width: 80%;
     height: 100%;
     box-sizing: border-box;
     border: 2px solid #aca095;
     border-radius: 4px;
     background-color: #f8f8f8;
     resize: none;
     padding-left:14%;
     padding-top:40px;
     padding-bottom: 40px;
 }

 .button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}

 .send{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color:#5e5147;
    border-radius: 4px;
    width: 100px;
    height: 25px;
    border: none;
    color: white;
    box-shadow: inset 0 0 0 0 #aca095;
    transition: ease-out 0.3s;
    outline: none;
 }

 .send:hover{
    box-shadow: inset 300px 0 0 0 green;
 }

 .close{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color:#5e5147;
    border-radius: 4px;
    width: 100px;
    height: 25px;
    border: none;
    color: white;
    box-shadow: inset 0 0 0 0 #aca095;
    transition: ease-out 0.5s;
    outline: none;
 }

 .close:hover{
    box-shadow: inset 300px 0 0 0 red;
 }
}




@media(min-width: 700px){
   
    .nav-grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
        background: linear-gradient(to right, #5e5147,#aca095,#dbd6d1);
        height: 100%;
        width: auto;
        margin-bottom: 10px;
        border-radius: 16px;
    }
    
    .nav-grid-contact-me{
        text-align: left;
        padding-left:35px;
        padding-top: 50px;
    }
    
    .nav-grid-contact-me > button{
        display: block;
        font-size: 30px;
        color:white;
        text-decoration:underline;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        background:none;
        border:none;
        transition-duration: 0.4s;
    }
    
    .nav-grid-contact-me > button:hover{
        color:#23150e;
    }
    
    .nav-grid-name-title{
        text-align: right;
        color:#5e5147;
        padding-right: 35px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    
    .nav-grid-pop-up{
        text-align: center;
    }

    .main-grid-container{
        display: grid;
        grid-template-columns: auto auto;
        width:fit-content;
        color:white;
    }
    
    
    .main-grid-about-me{
        width: auto;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 20px;
        background-color: #aca095;
        margin-right: 10px;
        border-radius: 16px;
        font-family:Arial, Helvetica, sans-serif;
    }
    
    .main-grid-about-me > h1{
        font-size: 40px;
    }

    .main-grid-about-me > p{
        font-size: 20px;
    }
    
    .main-grid-technologies{
        text-align: left;
        background-color: #5e5147;
        padding-left:8%;
        padding-right: 3%;
        border-radius: 16px;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .main-grid-technologies > h3 {
        text-decoration: underline;
        font-size: 20px;
    }
    
    .main-grid-technologies > h1 {
        font-size: 40px;
    }

    .main-grid-technologies > p {
        font-size: 20px;
    }
   
    
    .main-grid-interests-hobbies{
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        background: linear-gradient(to right, #5e5147,#dbd6d1);
        padding-top:20px;
        padding-bottom:20px;
        padding-left: 35px;
        padding-right: 35px;
        border-radius: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .main-grid-interests-hobbies > h1{
        font-size: 40px;
    }
    .main-grid-interests-hobbies > p{
        font-size: 20px;
    }


    .footer-container{
        text-align: center;
        height:100px;
        background-color: #aca095;
        padding-top: 20px;
        border-radius: 16px;
        
    }
    
    
    .footer-container-github{
        padding-right: 10px;
        
    }

    .email-pop-container{
        position: fixed;
        top:auto;
        right:25%;
        height: auto;
        padding-bottom: 30px;
        width: 50%;
        background-color:#dbd6d1;
        z-index: 1;
        border: 2px solid #5e5147;
        border-radius: 16px;
        font-family: Arial, Helvetica, sans-serif;
     }
     
     .email-pop-contact-me{
         text-decoration: underline;
         color: #5e5147;
         font-size: 40px;
         
     }

    .button-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;

    }
     .send{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        background-color:#5e5147;
        border-radius: 4px;
        width: 100px;
        height: 25px;
        border: none;
        color: white;
        box-shadow: inset 0 0 0 0 #aca095;
        transition: ease-out 0.3s;
        outline: none;
     }

     .send:hover{
        box-shadow: inset 300px 0 0 0 green;
     }

     .close{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        background-color:#5e5147;
        border-radius: 4px;
        width: 100px;
        height: 25px;
        border: none;
        color: white;
        box-shadow: inset 0 0 0 0 #aca095;
        transition: ease-out 0.5s;
        outline: none;
     }

     .close:hover{
        box-shadow: inset 300px 0 0 0 red;
     }

     .email-pop-name{
         color: #5e5147;
         box-sizing: border-box;
         
     }
     
     .email-pop-name > input {
         resize: none;
         height:auto;
         width: 30%;
         box-sizing: border-box;
         border: 2px solid #aca095;
         background-color: #f8f8f8;
         padding-top: 4px;
         padding-bottom:4px;
         padding-left: 22px;
     }
     
     .email-pop-email{
         color: #5e5147;
         box-sizing: border-box;
     }
     
     .email-pop-email > input{
         padding-top: 4px;
         padding-bottom: 4px;
         padding-left: 22px;
         resize: none;
         height:auto;
         width: 30%;
         box-sizing: border-box;
         border: 2px solid #aca095;
         border-radius: 2px solid #ccc;
         background-color: #f8f8f8;
     }
     
     .email-pop-body{
         color:#5e5147;
     }
     
     .email-pop-body > textarea{
         width: 80%;
         height: auto;
         padding-left:25%;
         padding-top:40px;
         padding-bottom: 40px;
         box-sizing: border-box;
         border: 2px solid #aca095;
         border-radius: 4px;
         background-color: #f8f8f8;
         resize: none;
     }

     .captcha{
         align-content: center;
     }
    
    
}






/* Style for the Main content*/



/*Style for the footer*/


.test-div{
    padding-top: 100%;
    width: 100%;
    background-color:#F9E07F;
    color:#F9E07F;
}
